<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <srong>ERROR: </strong>{{error.message}} - {{error.status}}
      </h1>
      <h2 class="subtitle">
        <a href="/">Go Back home</a>
      </h2>
    </div>
  </div>
</section>
