<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="/stylesheets/main.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src="/javascripts/index.js"></script> -->
  </head>

  <body>
    {{> navigation}}
    <div class="wrapper">
      {{{body}}}
    </div>
  </body>

</html>
