<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/app.css">
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/javascripts/marked.js"></script>
    <script src="/javascripts/markdown.js"></script>
    <script src="/javascripts/index.js"></script>
    <script>
      document.getElementById('.md-preview').innerHTML = marked('');
    </script>
  </head>

  <body class="{{#if user.darkTheme}}light-theme{{else}}dark-theme{{/if}} {{#if user.inverted}}inverted-theme{{/if}} {{#if user.largeFont}}large-font{{/if}}">
    {{> navigation}}
    <main class="container" role="main">
      {{{body}}}
      <div class="push"></div>
    </main>
    <!-- {{> footer}} -->
  </body>

</html>
