<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-low-vision"></i> {{title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right text-center">
        {{#if user}}
          <li><a href="/profile"><span class="fa fa-user"></span> Profile</a></li>
          <li><a href="/savedLocations"><span class="fa fa-star"></span> Saved</a></li>
          <li><a href="/locations"><span class="fa fa-building"></span> Locations</a></li>
          <li><a href="/logout"><span class="fa fa-sign-out"></span> Sign out</a></li>
        {{else}}
          <li><a href="/login"><span class="fa fa-sign-in"></span> Login</a></li>
          <li><a href="/signup"><span class="fa fa-user-plus"></span> Signup</a></li>
        {{/if}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
