<div class="jumbotron">
  <h1>{{title}}</h1>
  {{#if user}}
    <p>Signed in as <strong>{{user.email}}</strong>.</p>
  {{else}}
    <p>API documentation is available at <a href="/api">/api</a>.</p>
  {{/if}}
</div>
