<section class="col-sm-8 col-sm-offset-2">
  <h1 class="text-center">Add a New Location</h1>
  <hr>

  {{#if message}}
    <div class="alert-danger">{{message}}</div>
  {{/if}}

  <div class="col-sm-8 col-sm-offset-2">
    <form action="/locations" method="post">

      <div class="form-group">
        <label for="loc-name">Name</label>
        <input id="loc-name" type="text" class="form-control" name="name" autofocus="true" />
      </div>

      <div class="form-group">
        <label for="loc-desc">Description</label>
        <textarea id="loc-desc" class="form-control" rows="8" name="text"></textarea>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary form-control" value="Submit" />
      </div>
    </form>
  </div>
</section>
