<header role="banner">
  <h1 class="text-center">Add a New Location</h1>
  <hr />
</header>

<section class="col-sm-8 col-sm-offset-2" role="region">
  {{#if message}}
    <div class="alert-danger">{{message}}</div>
  {{/if}}

  <div class="col-sm-8 col-sm-offset-2">
    <form action="/locations" method="post">

      <div class="form-group">
        <label for="loc-name">Name</label>
        <input id="loc-name" type="text" name="name" autofocus="true" />
      </div>

      <div class="form-group">
        <label for="loc-desc">Description</label>
        <textarea class="markdown-text" data-provide="markdown-editable" rows="12" name="text"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn-primary width-100" value="Submit">Submit</button>
      </div>
    </form>
  </div>
</section>
