<section class="col-sm-8 col-sm-offset-2">
  <div>
    <header class="text-center">
      <h1>{{location.name}}</h1>
      {{#if location.extNumber}}
        <p><strong>Extension Number: </strong>{{location.extNumber}}</p>
      {{/if}}
    </header>
    {{#if user.admin}}
      <form action="/locations/{{location._id}}" method="delete">
        <div>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
    {{/if}}
    <hr>
    <div class="">
      <p>{{location.text}}</p>
    </div>
  </div>
</section>
