<header class="text-center" role="banner">
  <h1 class="text-center">Locations</h1>
  <hr />
</header>

<section class="col-sm-8 col-sm-offset-2" role="region">
  {{#if user.admin}}
    <a class="button btn-primary" href="/locationAdd" role="button"><i class="fa fa-plus"></i> Add a Location</a>
    <hr />
  {{/if}}

  <div>
    <p>A list of <strong>{{locationsTotal}}</strong> locations.</p>
    <ul>
      {{#each locations}}
        <li class="truncate large-text">
          <a href="locations/{{this._id}}">({{this.extNumber}})</a> - {{this.name}}
        </li>
      {{/each}}
    </ul>
  </div>
</section>
