<section class="col-sm-8 col-sm-offset-2">
  <header class="text-center">
    <h1 class="text-center">Locations</h1>
  </header>

  <hr />

  {{#if user.admin}}
    <a class="btn btn-default" href="/locationAdd" role="button">Add a new Location</a>
    <hr />
  {{/if}}

  <div>
    <ul>
      {{#each locations}}
        <li class="truncate">
          <a href="locations/{{this._id}}">{{this.name}} ({{this.extNumber}})</a> - {{this.text}}
        </li>
      {{/each}}
    </ul>
  </div>
</section>
