<header role="banner">
  <h1 class="text-center"><span class="fa fa-user-plus"></span> Signup</h1>
  <hr />
</header>

<section class="col-sm-8 col-sm-offset-2" role="region">
  {{#if message}}
    <div class="alert-banner alert-danger visible">{{message}} {{> close-button}}</div>
  {{/if}}

  <form class="col-sm-8 col-sm-offset-2" action="/signup" method="post">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" placeholder="Please enter your email address" name="email" autofocus="true" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Please enter a strong password" name="password" />
    </div>

    <div class="form-group">
      <button type="submit" class="btn-primary width-100" value="Create Account">Create Account</button>
    </div>
  </form>
</section>
