@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700");
html, body {
  height: 100%;
  margin: 0; }

main {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px; }

.width-100 {
  width: 100%; }

.visible {
  opacity: 1 !important;
  display: flex !important; }

html,
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif; }

h1 {
  font-family: "Merriweather", serif;
  font-size: 4rem; }

@media (max-width: 600px) {
  h1 {
    font-size: 3rem; } }

p {
  font-size: 18px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

a:hover {
  text-decoration: none; }

ul {
  padding-left: 0; }

label,
h4 {
  font-weight: 500;
  font-size: 1.5rem; }

.navbar-brand {
  font-family: "Merriweather", serif;
  font-weight: 300; }

.large-text {
  font-size: 1.5rem !important; }

.fa-times {
  font-size: 2rem;
  margin-left: 1rem; }

.text-muted {
  margin: 20px 0; }

.profile-link {
  margin: 0 .5rem 1rem; }

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.flex-wrapper {
  display: flex; }

.flex-wrapper form {
  display: inline-block; }

.flex-inline {
  display: flex-inline; }

.flex-items-center {
  align-items: center;
  justify-content: center; }

.flex-space {
  justify-content: space-between; }

.img-circle {
  height: 130px; }

button,
.button,
textarea {
  margin: 0;
  display: inline-block;
  padding: 12px 48px;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  border-width: 1px;
  text-decoration: none;
  border-style: solid;
  border-radius: 2px;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  transition: all 300ms ease-in-out; }

button:hover,
.button:hover,
textarea:hover {
  text-decoration: none; }

textarea {
  width: 100%;
  padding: 10px;
  font-weight: 300;
  text-align: left; }

.button {
  color: #fff !important; }

.location-btns {
  margin-bottom: 1rem; }

.location-btns button,
.location-btns .button {
  width: 100px;
  margin: 0 .5rem;
  padding: 8px 15px; }

.call-button,
.ext-button {
  display: none; }

.btn-visible {
  display: block !important; }

input {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: inherit;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: inherit;
  padding: 12px;
  width: 100%;
  height: 48px; }

.navbar-inverse .navbar-toggle {
  border: 1px solid transparent;
  border-radius: 2px; }

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: inherit; }

footer,
.push {
  height: 50px;
  margin-top: 6rem; }

footer {
  width: 100%; }

.alert-danger,
.alert-success {
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 2px;
  margin: 1rem auto;
  text-align: center; }

.alert-danger {
  background-color: #9a2617 !important;
  color: #fff !important; }

.alert-danger .fa-times {
  color: #fff !important; }

.alert-banner {
  opacity: 0;
  display: none; }

.message-banner {
  padding: 1rem;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px; }

.message-banner a {
  color: white;
  text-decoration: underline; }

.message-banner p {
  margin: 0; }

.inverted-theme {
  filter: invert(100%);
  -webkit-filter: invert(100%); }

.large-font {
  font-size: 2rem !important; }

.large-font button,
.large-font .button,
.large-font textarea,
.large-font input {
  font-size: 2rem !important; }

.large-font .large-text {
  font-size: 3rem !important;
  white-space: initial; }

.light-theme {
  background-color: #fff !important;
  color: #222233 !important; }

.light-theme .navbar-inverse {
  background-color: #0e0e14 !important;
  border-color: #222233 !important; }

.light-theme .navbar-inverse a {
  color: #fff !important; }

.light-theme .navbar-inverse .navbar-toggle {
  border-color: #107896 !important; }

.light-theme .jumbotron,
.light-theme footer {
  background-color: #e6e6e6 !important; }

.light-theme input {
  color: #222233 !important;
  background-color: #fff !important; }

.light-theme a {
  color: #107896 !important;
  transition: .5s color ease-in-out; }

.light-theme a:hover {
  color: #0b5368; }

.light-theme button,
.light-theme .button {
  background-color: #107896 !important;
  border-color: #fff !important;
  color: #fff !important;
  transition: .5s background-color ease-in-out; }

.light-theme button:hover,
.light-theme .button:hover {
  background-color: #0b5368 !important; }

.light-theme .icon-bar {
  background-color: #fff !important; }

.light-theme .alert-success {
  background-color: #222233 !important;
  color: #fff !important; }

.light-theme .alert-success .fa-times {
  color: #fff !important; }

.dark-theme {
  background-color: #222233 !important;
  color: #fff !important; }

.dark-theme .navbar-inverse {
  background-color: #0e0e14 !important;
  border-color: #fff !important; }

.dark-theme .navbar-inverse a {
  color: #fff !important; }

.dark-theme .navbar-inverse .navbar-toggle {
  border-color: #efd469 !important; }

.dark-theme .jumbotron,
.dark-theme footer {
  background-color: #363652 !important; }

.dark-theme input {
  color: #222233 !important;
  background-color: #fff !important; }

.dark-theme a {
  color: #efd469 !important;
  transition: .5s color ease-in-out; }

.dark-theme a:hover {
  color: #eac73b; }

.dark-theme button,
.dark-theme .button {
  background-color: #efd469 !important;
  border-color: #222233 !important;
  color: #222233 !important;
  transition: .5s background-color ease-in-out; }

.dark-theme button:hover,
.dark-theme .button:hover {
  background-color: #eac73b !important; }

.dark-theme .icon-bar {
  background-color: #222233 !important; }

.dark-theme .alert-success {
  background-color: #fff !important;
  color: #222233 !important; }

.dark-theme .alert-success .fa-times {
  color: #222233 !important; }
