html, body {
  height: 100%;
  margin: 0;
}

main {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

.img-circle {
  height: 130px;
}

button {
  margin: 0 .5rem;
}

footer,
.push {
  height: 50px;
}

footer {
  width: 100%;
}

.alert-danger {
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
}

.message-banner {
  padding: 1rem;
  background-color: $color-blue;
  color: $color-white;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;

  a {
    color: white;
    text-decoration: underline;
  }

  p {
    margin: 0;
  }
}
