.flex-wrapper {
  display: flex;

  form {
    display: inline-block;
  }
}

.flex-inline {
  display: flex-inline;
}

.flex-items-center {
  align-items: center;
  justify-content: center;
}

.flex-space {
  justify-content: space-between;
}
