body {
  font-size: 14px;
  font-family: $font-roboto;
}

.large-font {
  font-size: 2rem !important;
}

a {
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding-left: 0;
}

.large-text {
  font-size: 1.5rem;
}

.justify {
  text-align: justify;
}

.text-muted {
  margin: 20px 0;
}

.profile-link {
  margin: 0 .5rem 1rem;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
