html,
body {
  font-size: 14px;
  font-family: $font-roboto;
}

h1 {
  font-family: $font-merriweather;
  font-size: 4rem;

  @media (max-width: 600px) {
    font-size: 3rem;
  }
}

p {
  font-size: 18px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding-left: 0;
}

label,
h4 {
  font-weight: 500;
  font-size: 1.5rem;
}

.invisible {
  display: none;
}

.navbar-brand {
  font-family: $font-merriweather;
  font-weight: 300;
}

.large-text {
  font-size: 1.5rem !important;
}

.fa-times {
  font-size: 2rem;
  margin-left: 1rem;
}

.text-muted {
  margin: 20px 0;
}

.profile-link {
  margin: 0 .5rem 1rem;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
