// Fonts
$font-roboto: 'Roboto', sans-serif;

// Colours
$color-white: #fff;
$color-whitesmoke: #f5f5f5;
$color-black: #424242;
$color-grey: #616161;
$color-blue: #00b7ff;
$color-orange: #ff851b;
$color-green: #5cb85c;
